<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p class="text-danger"></p>
    <div class="container my-2">
        <table>
            <thead>

            </thead>
        </table>
    </div>
</body>
</html>